<!DOCTYPE html>
<html lang="en">
<head>
<title>Dream Estate</title>
<meta charset="utf-8">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="css/grid.css" type="text/css" media="all">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.4.2.min.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/Myriad_Pro_italic_400-Myriad_Pro_italic_600.font.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>
<script type="text/javascript" src="js/jquery.faded.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<!--[if lt IE 7]>
<script type="text/javascript" src="js/ie_png.js"></script>
<script type="text/javascript">ie_png.fix('.png, .logo, .extra-banner');</script>
<![endif]-->
<!--[if lt IE 9]><script type="text/javascript" src="js/html5.js"></script><![endif]-->
<style type="text/css">
<!--
.text-fields
{
width :150px
}
.style1 {font-family: Verdana, Arial, Helvetica, sans-serif}
.style10 {font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; color: #000000; }
-->
</style>
</head>
<body>
<!-- START PAGE SOURCE -->
<header>
  <div class="container_16">
	<?php
		include("login.php");
	?>
    <div class="logo">
      <h1><a href="#"><strong>Dream</strong> Estate</a></h1>
    </div>
    <nav>
      <ul>
        <li><a href="index.php" class="current">Home</a></li>
        <li><a href="selling.php">Selling</a></li>
        <li><a href="buying.html">Buying</a></li>
        <li><a href="renting.html">Renting</a></li>
        <li><a href="moving.html">Moving</a></li>
        <li><a href="finance.html">Finance</a></li>
        <li><a href="contacts.html">Contacts</a></li>
        <li><a href="privacy.html">Privacy</a></li>
      </ul>
    </nav>
    <div id="faded">
      <div class="rap"> <a href="#"><img src="images/big-img1.jpg" alt="" width="571" height="398"></a> <a href="#"><img src="images/big-img2.jpg" alt="" width="571" height="398"></a> <a href="#"><img src="images/big-img3.jpg" alt="" width="571" height="398"></a> </div>
      <ul class="pagination">
        <li> <a href="#" rel="0"> <img src="images/f_thumb1.png" alt=""> <span class="left"> Villa<br />
          2007 year<br />
          5000 sq.ft </span> <span class="right"> Brick, glass<br />
          3 beds<br />
          2 baths </span> </a> </li>
        <li> <a href="#" rel="1"> <img src="images/f_thumb2.png" alt=""> <span class="left"> Villa<br />
          2009 year<br />
          3500 sq.ft </span> <span class="right"> Brick, glass<br />
          5 beds<br />
          3 baths </span> </a> </li>
        <li> <a href="#" rel="2"> <img src="images/f_thumb3.png" alt=""> <span class="left"> Villa<br />
          2010 year<br />
          4200 sq.ft </span> <span class="right"> Brick, glass<br />
          4 beds<br />
          3 baths </span> </a> </li>
      </ul>
      <img src="images/extra-banner.png" alt="" class="extra-banner"> </div>
  </div>
</header>
<section id="content">
  <div class="container_16">
    <div class="clearfix">
      <section id="mainContent" class="grid_10">
        <article>
          <h2>Welcome Message</h2>
		
          <h3>DreamEstate.com is Ahmedabad's leading property site with thousands of properties for Buy,sale and rent.</h3>
          <h4>Properties of 27 categories like flats and apartments are listed or advertised and allow to search, buy, rent or take on lease. Property owners list their properties for sale or rent,developers and builders list to advertise their projects to a global audience,real estate consultants and brokers list properties to expand their market place. For queries, FAQs, drafts of legal documents or for resolving doubts,contact Us. Refer to the Finance for home loan interest rates and real estate articles. There are calculators for EMI, amortization and area conversion. Also included is a list of real estate glossary terms and a book on real estate (Property Matters Made Easy), which is a guide to buying or selling a property.</h4>
          <p>DreamEstate provide Separate module for Buy,Rent and Sell.give different kind of search option.</p>
          <a href="#" class="button">Print Page</a> </article>
        <article class="last">
          <h2>New UpComing Projects</h2>
          <h5> </h5>
          <ul class="img-list clearfix">
            <li><a href="#"><img src="images/np1.jpg" alt=""></a></li>
            <li><a href="#"><img src="images/np2.jpg" alt=""></a></li>
            <li><a href="#"><img src="images/np3.jpg" alt=""></a></li>
            <li><a href="#"><img src="images/np4.jpg" alt=""></a></li>
            <li><a href="#"><img src="images/np5.jpg" alt=""></a></li>
            <li><a href="#"><img src="images/np6.jpg" alt=""></a></li>
            <li><a href="#"><img src="images/np7.jpg" alt=""></a></li>
            <li><a href="#"><img src="images/np8.jpg" alt=""></a></li>
            <li><a href="#"><img src="images/np9.jpg" alt=""></a></li>
          </ul>
	<br><br>	
          
      </section>
      <aside class="grid_6">
        <div class="prefix_1">
          <article>
            <div class="box">
              <h2>Search for Property </h2>
              <dl class="accordion">
			  <form action="resultpage.php">
			    <div align="justify">
			      <table width="252">
				  	<tr>
        			      <td height="32" ><div align="left"><span class="style10">Rent 
        			        <input type="radio" name="rdtype"  value="Rent">
      			          </span></div></td>
						   <td ><div align="left"><span class="style10">Buy  
						     <input type="radio" name="rdtype" value="Buy">
					        </span></div></td>
      			    </tr>
			        <tr>
			          <td width="92" height="32"><div align="right" class="style10" >
			            <div align="left">Area:</div>
			          </div></td>
        			    <td width="148" margin-left:10px>
			  <select name="area"  class="text-fields">
                          <option>Thaltej</option>
                          <option>Sarkhej</option>
                          <option>Setalite</option>
                          <option>Naroda</option>
			  <option>Bopal</option>
			  <option>Ghatlodia</option>
                          <option>Gota</option>
                          <option>Navrangpura</option>
                          <option>Naranpura</option>
			  <option>Bapunagar</option>
			  <option> Maninagar</option>
                          <option>Vastrapur</option>
                          <option>Jodhpur</option>
                          <option>Sola </option>
			  <option>Vejalpur</option>
                          
                        </select></td>
      			      </tr>
			       			        <tr>
			          <td height="45"><div align="right" class="style10" style="white-space:nowrap">
			            <div align="left">Type:</div>
			          </div></td>
        			    <td><select name="property_type" class ="text-fields">
        			        <option selected>Type of Property</option>
        			        <option>Villa</option>
        			      	<option>Apartment</option><option>Flat</option>
        			    	</select>						</td>
				      <tr>
				        <td height="34"><div align="right" class="style10">
				          <div align="left">Bedroom:</div>
				        </div></td>
        			    <td><select name="bedroom" class ="text-fields"><option>1</option><option>2</option>
        			      <option selected>No of Bedroom</option>
        			      <option>3</option><option>4</option><option>5 Or More</option></select>						</td>
      			      </tr>
			        <tr>
			          <td height="44"><div align="right" class="style10">
			            <div align="left">Bathroom:</div>
			          </div></td>
        			    <td><select name="bathroom" class ="text-fields"><option selected>No of Bathroom</option>
							<option>1</option><option>2</option>
        			      	<option>3</option><option>4</option><option>5 Or More</option></select></td>
      			      </tr>
			        <tr>
				        <td height="38"><div align="right" class="style10">
				          <div align="left">Price:</div>
				        </div></td>
        			    <td><select name="minprice" class ="text-fields"><option selected>5000</option><option>10000</option>
        			      <option>20000</option>
        			      <option>50000</option><option>100000 or More</option>
        			    </select>						</td>
      			      </tr>
			        <tr>
			          <td height="44"><div align="right" class="style10">
			            <div align="left">To:</div>
			          </div></td>
        			    <td><select name="maxprice" class ="text-fields"><option selected>10000</option><option>20000</option>
							<option>50000</option>
        			      	<option>100000</option>
        			      	<option>100000 or More</option>
        			    	</select></td>
      			      </tr>
			        <tr>
			          <td height="110"><div align="right" class="style10" >
			            <div align="left">Message:</div>
			          </div></td>
        			    <td><textarea name="msg" cols="21" rows="4" class ="text-fields"></textarea></td>
      			      </tr>
			        <tr>
			          <td align="center"><span class="style1"></span></td>
				      <td><input name="button" type="submit" class="button" id="button" value="Submit"></td></tr>
			        </table>
			      </div>
			  </form>
              </dl>
            </div>
          </article>
          <article class="last">
            <h2>Find Our Office</h2>
            <p><img src="images/map.png" alt=""></p>
            <div class="wrapper">
              <ul class="list1 grid_3 alpha">
                <li><a href="#">Ahmedabad-Gujarat</a></li>
              </ul>
            </div>
          </article>
        </div>
      </aside>
    </div>
  </div>
</section>
<footer>
  <div class="footerlink">
    <p class="lf">Copyright &copy; 2010 <a href="#">DreamEstate</a> - All Rights Reserved</p>
    <p class="rf">Write Us On :</a>  <a href="http://www.templatemonster.com/">DreamEstate@gmail.com</a></p>
    <div style="clear:both;"></div>
  </div>
</footer>
<script type="text/javascript">
$(function () {
    //accordion
    $(".accordion dt").toggle(function () {
        $(this).next().slideDown();
    }, function () {
        $(this).next().slideUp();
    });
})
</script>
<script type="text/javascript"> Cufon.now(); </script>
<!-- END PAGE SOURCE -->

</html>
